// Border radius
//-----------------------------------
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

// Element Transform
//-----------------------------------
@mixin transform($transform...) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

// Element Transition
//-----------------------------------
@mixin transition {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -ms-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}
